body{
    background-image: url(../img/fondo2.png);
}

.info-card{
    background: transparent;
    background-color: rgba(0, 0, 0, 0.452);
    
}
.container h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    color: #ffffff;
}

.info-card h3{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.info-card p{
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.info-card button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 15px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: white;
    
}